@import '../main.scss';

.button {
  border: 1px solid $color-border-light;
  background-color: $color-button;
  font-size: $form-font-size;
  border-radius: 1px;
  margin: 0;
  color: white;
  height: 40px;
  width: 100%;
}
